In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

### Matchdata Reading from CSV File

In [61]:
matchdata=pd.read_csv('https://raw.githubusercontent.com/prakharmohan4/BYOP/main/IPL%20Ball-by-Ball%202008-2020.csv')

### Aggregating Bowler Data

In [62]:
        batsmen_score = pd.DataFrame(matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum()).\
            rename(columns={"batsman_runs": "total_runs"})
        batsmen_scores_30 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())>=30).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_30"})
        batsmen_scores_50 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())>=50).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_50"})
        batsmen_scores_100 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())>=100).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_100"})
        batsmen_scores_0 = pd.DataFrame(((matchdata.groupby(['id', 'batsman'])['batsman_runs'].sum())==0).astype(int)).\
            rename(columns={"batsman_runs": "total_runs_0"})
        batsmen_ball_faced = pd.DataFrame(matchdata.groupby(['id', 'batsman'])['over'].count()).\
            rename(columns={"over": "total_balls_faced"})
        batsmen_ball_faced_legal = pd.DataFrame(matchdata[matchdata['ball'] <=6].groupby(['id', 'batsman'])['ball'].count()).\
            rename(columns={"ball": "total_legal_balls_faced"})
        batsmen_scores6 = pd.DataFrame(matchdata[matchdata['batsman_runs'] == 6].groupby(['id', 'batsman'])['batsman_runs'].count()).\
            rename(columns={"batsman_runs": "run_6"})
        batsmen_scores4 = pd.DataFrame(matchdata[matchdata['batsman_runs'] == 4].groupby(['id', 'batsman'])['batsman_runs'].count()).\
            rename(columns={"batsman_runs": "run_4"})
        batsmen_position = pd.DataFrame(matchdata.groupby(['id', 'batsman'])['is_wicket'].min())
       
        
        df_list = [batsmen_score, batsmen_ball_faced, batsmen_ball_faced_legal, batsmen_scores6, batsmen_scores4, batsmen_position,batsmen_scores_30,batsmen_scores_50,batsmen_scores_100,batsmen_scores_0]
        batsmen_summary = pd.concat(df_list, join='outer', axis=1).fillna(np.nan).reset_index()
        batsmen_summary = pd.merge(batsmen_summary, matchdata[['id', 'batsman', 'inning', 'batting_team', 'bowling_team']].
                                   drop_duplicates(), on=['id', 'batsman'], how='left')
        batsmen_summary.rename(columns={'inning': 'batsmen_innings', 'batsman': 'playername', 'batting_team': 'PlayingTeam',
                                        'bowling_team': 'Opponent Team'}, inplace=True)

In [63]:
batsmen_summary

,id,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,total_runs_100,total_runs_0,batsmen_innings,PlayingTeam,Opponent Team
0,335982,AA Noffke,9,12,11.0,NaN,1.0,0,0,0,0,0,2,Royal Challengers Bangalore,Kolkata Knight Riders
1,335982,B Akhil,0,2,2.0,NaN,NaN,0,0,0,0,1,2,Royal Challengers Bangalore,Kolkata Knight Riders
2,335982,BB McCullum,158,77,73.0,13.0,10.0,0,1,1,1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,CL White,6,10,8.0,NaN,NaN,0,0,0,0,0,2,Royal Challengers Bangalore,Kolkata Knight Riders
4,335982,DJ Hussey,12,12,12.0,NaN,1.0,0,0,0,0,0,1,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12157,1237181,RR Pant,56,40,38.0,2.0,4.0,0,1,1,0,0,1,Delhi Capitals,Mumbai Indians
12158,1237181,S Dhawan,15,13,13.0,NaN,3.0,0,0,0,0,0,1,Delhi Capitals,Mumbai Indians
12159,1237181,SA Yadav,19,20,20.0,1.0,1.0,0,0,0,0,0,2,Mumbai Indians,Delhi Capitals
12160,1237181,SO Hetmyer,5,5,5.0,NaN,1.0,0,0,0,0,0,1,Delhi Capitals,Mumbai Indians
12161,1237181,SS Iyer,65,51,50.0,2.0,6.0,0,1,1,0,0,1,Delhi Capitals,Mumbai Indians

### Aggregating Bowler Data

In [64]:
        bowler_wickets = pd.DataFrame(matchdata[((matchdata['is_wicket'] == 1) & (~matchdata['dismissal_kind'].isin(['run out','retired hurt'])))].
                                      groupby(['id', 'bowler'])['is_wicket'].count()).\
            rename(columns={"is_wicket": "total_wickets"})
        bowler_overs_bow = pd.DataFrame(matchdata.groupby(['id', 'bowler'])['over'].count()).\
            rename(columns={"over": "total_balls_bowled"})
        bowler_ball_faced_legal = pd.DataFrame(matchdata[matchdata['ball'] <=6].groupby(['id', 'bowler'])['ball'].count()).\
            rename(columns={"ball": "total_legal_balls_bowled"})
        # calculating the number of maiden overs bowled in a match
        bowler_runs_given = pd.DataFrame(matchdata.groupby(['id', 'bowler'])['batsman_runs'].sum()).\
            rename(columns={"batsman_runs": "total_runs_given"})
        bowler_wickets_3 = pd.DataFrame((matchdata[((matchdata['is_wicket'] == 1) & (~matchdata['dismissal_kind'].isin(['run out','retired hurt'])))].
                                      groupby(['id', 'bowler'])['is_wicket'].count())==3).astype(int).\
            rename(columns={"is_wicket": "total_wickets_3"})
        bowler_wickets_4 = pd.DataFrame((matchdata[((matchdata['is_wicket'] == 1) & (~matchdata['dismissal_kind'].isin(['run out','retired hurt'])))].
                                      groupby(['id', 'bowler'])['is_wicket'].count())==4).astype(int).\
            rename(columns={"is_wicket": "total_wickets_4"})
        bowler_wickets_5 = pd.DataFrame((matchdata[((matchdata['is_wicket'] == 1) & (~matchdata['dismissal_kind'].isin(['run out','retired hurt'])))].
                                      groupby(['id', 'bowler'])['is_wicket'].count())==5).astype(int).\
            rename(columns={"is_wicket": "total_wickets_5"})
        bowler_maiden = pd.DataFrame(matchdata.groupby(['id', 'bowler', 'over'])['total_runs'].sum()).reset_index()
        bowler_maiden['maiden_overs'] = np.where(bowler_maiden['total_runs'] == 0, 1, 0)
        bowler_maiden = bowler_maiden.groupby(['id', 'bowler'])['maiden_overs'].sum()
        
        #legbyes to be considered
        
        df_list = [bowler_wickets, bowler_overs_bow, bowler_ball_faced_legal, bowler_runs_given,bowler_wickets_3,bowler_wickets_4,bowler_wickets_5,bowler_maiden]
        bowler_summary = pd.concat(df_list, join='outer', axis=1).fillna(np.nan).reset_index()
        # adding additional columns just in case we need for modeling
        bowler_summary = pd.merge(bowler_summary, matchdata[['id', 'bowler', 'inning', 'batting_team', 'bowling_team']].drop_duplicates(), on=['id', 'bowler'], how='left')
        bowler_summary.rename(columns={'inning': 'bowlers_innings', 'bowler': 'playername', 'batting_team': 'Playing team',
                                       'bowling_team': 'Opponent Team'}, inplace=True)
        bowler_summary['economy_rate'] = (bowler_summary['total_runs_given'] * 6) / bowler_summary['total_legal_balls_bowled']
        bowler_summary['eco less than 5'] = (bowler_summary['economy_rate']<=5).astype(int)
        bowler_summary['eco 5-5.99'] = ((bowler_summary['economy_rate']<6)&(bowler_summary['economy_rate']>=5)).astype(int)
        bowler_summary['eco 6-7'] = ((bowler_summary['economy_rate']>=6)&(bowler_summary['economy_rate']<7)).astype(int)
        bowler_summary['eco 7-10'] = ((bowler_summary['economy_rate']>=7)&(bowler_summary['economy_rate']<10)).astype(int)
        bowler_summary['eco 11-12'] = ((bowler_summary['economy_rate']>=11)&(bowler_summary['economy_rate']<12)).astype(int)
        bowler_summary['eco greater than 12'] = (bowler_summary['economy_rate']>12).astype(int)

In [65]:
bowler_summary

,id,playername,total_wickets,total_balls_bowled,total_legal_balls_bowled,total_runs_given,total_wickets_3,total_wickets_4,total_wickets_5,maiden_overs,bowlers_innings,Playing team,Opponent Team,economy_rate,eco less than 5,eco 5-5.99,eco 6-7,eco 7-10,eco 11-12,eco greater than 12
0,335982,AA Noffke,1.0,25,24,35,0.0,0.0,0.0,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,8.750000,0,0,0,1,0,0
1,335982,AB Agarkar,3.0,28,24,21,1.0,0.0,0.0,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,5.250000,0,1,0,0,0,0
2,335982,AB Dinda,2.0,20,18,7,0.0,0.0,0.0,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,2.333333,1,0,0,0,0,0
3,335982,CL White,NaN,7,6,22,NaN,NaN,NaN,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,22.000000,0,0,0,0,0,1
4,335982,I Sharma,1.0,19,18,6,0.0,0.0,0.0,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,2.000000,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9662,1237181,MP Stoinis,1.0,12,12,23,0.0,0.0,0.0,0,2,Mumbai Indians,Delhi Capitals,11.500000,0,0,0,0,1,0
9663,1237181,NM Coulter-Nile,2.0,25,24,28,0.0,0.0,0.0,0,1,Delhi Capitals,Mumbai Indians,7.000000,0,0,0,1,0,0
9664,1237181,P Dubey,NaN,18,18,29,NaN,NaN,NaN,0,2,Mumbai Indians,Delhi Capitals,9.666667,0,0,0,1,0,0
9665,1237181,R Ashwin,NaN,24,24,28,NaN,NaN,NaN,0,2,Mumbai Indians,Delhi Capitals,7.000000,0,0,0,1,0,0
9666,1237181,TA Boult,3.0,24,24,30,1.0,0.0,0.0,0,1,Delhi Capitals,Mumbai Indians,7.500000,0,0,0,1,0,0

### Merging Bowler and Batsmen Stats

In [7]:
ipl_merged_scorecard = pd.merge(batsmen_summary, bowler_summary, on=['id', 'playername'], how='outer')

In [8]:
ipl_merged_scorecard

,id,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,...,bowlers_innings,Playing team,Opponent Team_y,economy_rate,eco less than 5,eco 5-5.99,eco 6-7,eco 7-10,eco 11-12,eco greater than 12
0,335982,AA Noffke,9.0,12.0,11.0,NaN,1.0,0.0,0.0,0.0,...,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,8.750000,0.0,0.0,0.0,1.0,0.0,0.0
1,335982,B Akhil,0.0,2.0,2.0,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,BB McCullum,158.0,77.0,73.0,13.0,10.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,CL White,6.0,10.0,8.0,NaN,NaN,0.0,0.0,0.0,...,1.0,Kolkata Knight Riders,Royal Challengers Bangalore,22.000000,0.0,0.0,0.0,0.0,0.0,1.0
4,335982,DJ Hussey,12.0,12.0,12.0,NaN,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17146,1237181,K Rabada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,Mumbai Indians,Delhi Capitals,10.666667,0.0,0.0,0.0,0.0,0.0,0.0
17147,1237181,NM Coulter-Nile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Delhi Capitals,Mumbai Indians,7.000000,0.0,0.0,0.0,1.0,0.0,0.0
17148,1237181,P Dubey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,Mumbai Indians,Delhi Capitals,9.666667,0.0,0.0,0.0,1.0,0.0,0.0
17149,1237181,R Ashwin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,Mumbai Indians,Delhi Capitals,7.000000,0.0,0.0,0.0,1.0,0.0,0.0
17150,1237181,TA Boult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,Delhi Capitals,Mumbai Indians,7.500000,0.0,0.0,0.0,1.0,0.0,0.0

### Calculating Player Role

In [9]:
        MINAVGBALLSFACED = 8
        MINAVGBOWLSBOWLED = 6
        player_avg = ipl_merged_scorecard[['playername', 'total_balls_faced', 'total_balls_bowled']].fillna(0)
        player_avg = pd.DataFrame(player_avg.groupby('playername')[['total_balls_faced', 'total_balls_bowled']].mean())
        conditions = [((player_avg['total_balls_faced'] >= MINAVGBALLSFACED) & (player_avg['total_balls_bowled'] >= MINAVGBOWLSBOWLED)),
                      (player_avg['total_balls_bowled'] >= MINAVGBOWLSBOWLED)]
        choices = ['AllRounder', 'Bowler']
        player_avg['playing_role'] = np.select(conditions, choices, default='Batsmen')
        player_avg = player_avg.reset_index()

In [10]:
ipl_merged_scorecard = ipl_merged_scorecard.merge(player_avg[["playername","playing_role"]], how="inner",on="playername")

In [11]:
ipl_merged_scorecard

,id,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,...,Playing team,Opponent Team_y,economy_rate,eco less than 5,eco 5-5.99,eco 6-7,eco 7-10,eco 11-12,eco greater than 12,playing_role
0,335982,AA Noffke,9.0,12.0,11.0,NaN,1.0,0.0,0.0,0.0,...,Kolkata Knight Riders,Royal Challengers Bangalore,8.750000,0.0,0.0,0.0,1.0,0.0,0.0,AllRounder
1,335982,B Akhil,0.0,2.0,2.0,NaN,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bowler
2,335985,B Akhil,3.0,6.0,6.0,NaN,NaN,0.0,0.0,0.0,...,Mumbai Indians,Royal Challengers Bangalore,5.666667,0.0,1.0,0.0,0.0,0.0,0.0,Bowler
3,335996,B Akhil,2.0,3.0,3.0,NaN,NaN,0.0,0.0,0.0,...,Chennai Super Kings,Royal Challengers Bangalore,8.500000,0.0,0.0,0.0,1.0,0.0,0.0,Bowler
4,336002,B Akhil,27.0,7.0,7.0,3.0,2.0,0.0,0.0,0.0,...,Deccan Chargers,Royal Challengers Bangalore,13.000000,0.0,0.0,0.0,0.0,0.0,1.0,Bowler
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17146,1216521,JR Hazlewood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Mumbai Indians,Chennai Super Kings,8.500000,0.0,0.0,0.0,1.0,0.0,0.0,Bowler
17147,1216533,JR Hazlewood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rajasthan Royals,Chennai Super Kings,4.750000,1.0,0.0,0.0,0.0,0.0,0.0,Bowler
17148,1216539,JR Hazlewood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Delhi Capitals,Chennai Super Kings,6.750000,0.0,0.0,1.0,0.0,0.0,0.0,Bowler
17149,1216526,CJ Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Mumbai Indians,Kolkata Knight Riders,8.470588,0.0,0.0,0.0,1.0,0.0,0.0,Bowler
17150,1216544,Monu Kumar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Royal Challengers Bangalore,Chennai Super Kings,8.000000,0.0,0.0,0.0,1.0,0.0,0.0,Bowler

In [12]:
pointsconfig = {
        'total_runs': 1,
        'run_6': 2,
        'run_4': 1,
        '>=30':4,
        '>=50': 8,
        '>=100': 16,
        'duck': -2,
        'total_wickets': 25,
        '<=3W':4,
        '>=4W': 8,
        '>=5W': 16,
        'maiden_overs': 8,
        '<=5E': 6,
        '<6E': 4,
        '<7E': 2,
        '>10E': -2,
        '>11E': -4,
        '>12E': -6
    }

### Batsmen Points

In [13]:
        ipl_merged_scorecard['total_runs_points'] = ipl_merged_scorecard['total_runs'] * pointsconfig['total_runs']
        ipl_merged_scorecard['run_6_points'] = pointsconfig['run_6'] *  ipl_merged_scorecard['run_6']
        ipl_merged_scorecard['run_4_points'] = pointsconfig['run_4'] *  ipl_merged_scorecard['run_4']
        ipl_merged_scorecard['30_Run_Points'] = pointsconfig['>=30'] *  ipl_merged_scorecard['total_runs_30']
        ipl_merged_scorecard['50_Run_Points'] = pointsconfig['>=50'] *  ipl_merged_scorecard['total_runs_50']
        ipl_merged_scorecard['100_Run_Points'] = pointsconfig['>=100'] *  ipl_merged_scorecard['total_runs_100']
        ipl_merged_scorecard['duck_Points'] = pointsconfig['duck'] *  ipl_merged_scorecard['total_runs_0']
        ipl_merged_scorecard['total_bat_points'] = np.nan
        ipl_merged_scorecard['total_bat_points'] = ipl_merged_scorecard['total_runs_points'].add(ipl_merged_scorecard['run_6_points'], fill_value=0). \
            add(ipl_merged_scorecard['run_4_points'], fill_value=0).add(ipl_merged_scorecard['30_Run_Points'], fill_value=0).\
            add(ipl_merged_scorecard['50_Run_Points'], fill_value=0).add(ipl_merged_scorecard['100_Run_Points'], fill_value=0).\
            add(ipl_merged_scorecard['duck_Points'], fill_value=0)
        ipl_merged_scorecard['total_bat_points'] = np.where(ipl_merged_scorecard['total_balls_faced'] >= 1, ipl_merged_scorecard['total_bat_points'], np.nan)

### BowlerPoints

In [15]:
        ipl_merged_scorecard['total_wicket_points'] = ipl_merged_scorecard['total_wickets'] * pointsconfig['total_wickets']
        ipl_merged_scorecard['<=5E_points'] = pointsconfig['<=5E'] *  ipl_merged_scorecard['eco less than 5']
        ipl_merged_scorecard['<6E_points'] = pointsconfig['<6E'] *  ipl_merged_scorecard['eco 5-5.99']
        ipl_merged_scorecard['<7E_points'] = pointsconfig['<7E'] *  ipl_merged_scorecard['eco 6-7']
        ipl_merged_scorecard['>10E_points'] = pointsconfig['>10E'] *  ipl_merged_scorecard['eco 7-10']
        ipl_merged_scorecard['>11E_points'] = pointsconfig['>11E'] *  ipl_merged_scorecard['eco 11-12']
        ipl_merged_scorecard['>12E_points'] = pointsconfig['>12E'] *  ipl_merged_scorecard['eco greater than 12']
        ipl_merged_scorecard['3W_points'] = pointsconfig['>=100'] *  ipl_merged_scorecard['total_wickets_3']
        ipl_merged_scorecard['4W_points'] = pointsconfig['>=100'] *  ipl_merged_scorecard['total_wickets_4']
        ipl_merged_scorecard['5W_points'] = pointsconfig['>=100'] *  ipl_merged_scorecard['total_wickets_5']
        ipl_merged_scorecard['maiden_overs_points'] = pointsconfig['>=100'] *  ipl_merged_scorecard['maiden_overs']
        ipl_merged_scorecard['total_bowl_points'] = np.nan
        ipl_merged_scorecard['total_bowl_points'] = ipl_merged_scorecard['total_wicket_points'].add(ipl_merged_scorecard['<=5E_points'], fill_value=0). \
            add(ipl_merged_scorecard['<6E_points'], fill_value=0).add(ipl_merged_scorecard['<7E_points'], fill_value=0).\
            add(ipl_merged_scorecard['>10E_points'], fill_value=0).add(ipl_merged_scorecard['>11E_points'], fill_value=0).\
            add(ipl_merged_scorecard['>12E_points'], fill_value=0).add(ipl_merged_scorecard['3W_points'], fill_value=0).\
            add(ipl_merged_scorecard['4W_points'], fill_value=0).add(ipl_merged_scorecard['5W_points'], fill_value=0).\
            add(ipl_merged_scorecard['maiden_overs_points'], fill_value=0)
        ipl_merged_scorecard['total_bowl_points'] = np.where(ipl_merged_scorecard['total_balls_bowled'] >= 1, ipl_merged_scorecard['total_bowl_points'], np.nan)

In [16]:
ipl_merged_scorecard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17151 entries, 0 to 17150
Data columns (total 54 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        17151 non-null  int64
 1   playername                17151 non-null  object
 2   total_runs                12162 non-null  float64
 3   total_balls_faced         12162 non-null  float64
 4   total_legal_balls_faced   12111 non-null  float64
 5   run_6                     4530 non-null   float64
 6   run_4                     7451 non-null   float64
 7   is_wicket                 12162 non-null  float64
 8   total_runs_30             12162 non-null  float64
 9   total_runs_50             12162 non-null  float64
 10  total_runs_100            12162 non-null  float64
 11  total_runs_0              12162 non-null  float64
 12  batsmen_innings           12162 non-null  float64
 13  PlayingTeam               12162 non-null  object
 14  Opponent Team_x           12149 non-null  object
 15  total_wickets             5456 non-null   float64
 16  total_balls_bowled        9667 non-null   float64
 17  total_legal_balls_bowled  9667 non-null   float64
 18  total_runs_given          9667 non-null   float64
 19  total_wickets_3           5456 non-null   float64
 20  total_wickets_4           5456 non-null   float64
 21  total_wickets_5           5456 non-null   float64
 22  maiden_overs              9667 non-null   float64
 23  bowlers_innings           9667 non-null   float64
 24  Playing team              9667 non-null   object
 25  Opponent Team_y           9655 non-null   object
 26  economy_rate              9667 non-null   float64
 27  eco less than 5           9667 non-null   float64
 28  eco 5-5.99                9667 non-null   float64
 29  eco 6-7                   9667 non-null   float64
 30  eco 7-10                  9667 non-null   float64
 31  eco 11-12                 9667 non-null   float64
 32  eco greater than 12       9667 non-null   float64
 33  playing_role              17151 non-null  object
 34  total_runs_points         12162 non-null  float64
 35  run_6_points              4530 non-null   float64
 36  run_4_points              7451 non-null   float64
 37  30_Run_Points             12162 non-null  float64
 38  50_Run_Points             12162 non-null  float64
 39  100_Run_Points            12162 non-null  float64
 40  duck_Points               12162 non-null  float64
 41  total_bat_points          12162 non-null  float64
 42  total_wicket_points       5456 non-null   float64
 43  <=5E_points               9667 non-null   float64
 44  <6E_points                9667 non-null   float64
 45  <7E_points                9667 non-null   float64
 46  >10E_points               9667 non-null   float64
 47  >11E_points               9667 non-null   float64
 48  >12E_points               9667 non-null   float64
 49  3W_points                 5456 non-null   float64
 50  4W_points                 5456 non-null   float64
 51  5W_points                 5456 non-null   float64
 52  maiden_overs_points       9667 non-null   float64
 53  total_bowl_points         9667 non-null   float64
dtypes: float64(47), int64(1), object(6)
memory usage: 7.2+ MB

### Merging Bowler and Batsmen Points

In [17]:
ipl_merged_scorecard['total_points'] = ipl_merged_scorecard['total_bat_points'].add(ipl_merged_scorecard['total_bowl_points'], fill_value=0)

### Dropping Irrelevant Columns

In [18]:
ipl_merged_scorecard.drop(['id','PlayingTeam','Opponent Team_x','Playing team','Opponent Team_y'],axis=1,inplace=True)

In [19]:
ipl_merged_scorecard.columns

Index(['playername', 'total_runs', 'total_balls_faced',
       'total_legal_balls_faced', 'run_6', 'run_4', 'is_wicket',
       'total_runs_30', 'total_runs_50', 'total_runs_100', 'total_runs_0',
       'batsmen_innings', 'total_wickets', 'total_balls_bowled',
       'total_legal_balls_bowled', 'total_runs_given', 'total_wickets_3',
       'total_wickets_4', 'total_wickets_5', 'maiden_overs', 'bowlers_innings',
       'economy_rate', 'eco less than 5', 'eco 5-5.99', 'eco 6-7', 'eco 7-10',
       'eco 11-12', 'eco greater than 12', 'playing_role', 'total_runs_points',
       'run_6_points', 'run_4_points', '30_Run_Points', '50_Run_Points',
       '100_Run_Points', 'duck_Points', 'total_bat_points',
       'total_wicket_points', '<=5E_points', '<6E_points', '<7E_points',
       '>10E_points', '>11E_points', '>12E_points', '3W_points', '4W_points',
       '5W_points', 'maiden_overs_points', 'total_bowl_points',
       'total_points'],
      dtype='object')

In [20]:
#ipl_merged_scorecard.replace([np.inf, -np.inf], np.nan, inplace=True)

In [21]:
ipl_merged_scorecard.fillna(0,inplace=True)

### One hot Encoding for playing_role

In [23]:
one_hot = pd.get_dummies(ipl_merged_scorecard['playing_role'],drop_first=True)
 #Drop column as it is now encoded
ipl_merged_scorecard = ipl_merged_scorecard.drop('playing_role',axis = 1)
#Join the encoded df

In [24]:
ipl_merged_scorecard = ipl_merged_scorecard.join(one_hot)
ipl_merged_scorecard

,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,total_runs_100,...,>11E_points,>12E_points,3W_points,4W_points,5W_points,maiden_overs_points,total_bowl_points,total_points,Batsmen,Bowler
0,AA Noffke,9.0,12.0,11.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,23.0,33.0,0,0
1,B Akhil,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,0,1
2,B Akhil,3.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,54.0,57.0,0,1
3,B Akhil,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,-2.0,0.0,0,1
4,B Akhil,27.0,7.0,7.0,3.0,2.0,0.0,0.0,0.0,0.0,...,-0.0,-6.0,0.0,0.0,0.0,0.0,-6.0,29.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17146,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,-2.0,-2.0,0,1
17147,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,31.0,31.0,0,1
17148,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,2.0,2.0,0,1
17149,CJ Green,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,-2.0,-2.0,0,1
17150,Monu Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.0,-0.0,0.0,0.0,0.0,0.0,-2.0,-2.0,0,1

### Rearranging Columns

In [25]:
ipl_merged_scorecard= ipl_merged_scorecard[['playername','total_runs', 'total_balls_faced', 'total_legal_balls_faced', 'run_6',
       'run_4', 'is_wicket', 'total_runs_30', 'total_runs_50',
       'total_runs_100', 'total_runs_0', 'batsmen_innings', 'total_wickets',
       'total_balls_bowled', 'total_legal_balls_bowled', 'total_runs_given',
       'total_wickets_3', 'total_wickets_4', 'total_wickets_5', 'maiden_overs',
       'bowlers_innings', 'economy_rate', 'eco less than 5', 'eco 5-5.99',
       'eco 6-7', 'eco 7-10', 'eco 11-12', 'eco greater than 12',
       'Bowler', 'Batsmen','total_points']]

In [27]:
df1=ipl_merged_scorecard.copy()

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
ipl_merged_scorecard.playername.value_counts().sort_values(ascending=False)

RG Sharma               194
SK Raina                189
V Kohli                 185
MS Dhoni                182
RV Uthappa              182
                       ...
S Midhun                  1
DR Martyn                 1
X Thalaivan Sargunam      1
Younis Khan               1
PSP Handscomb             1
Name: playername, Length: 580, dtype: int64

In [31]:
#Delete players matches less than 1

In [32]:
from sklearn import datasets, linear_model, metrics

In [33]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import RepeatedKFold

In [34]:
ipl_merged_scorecard

,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,total_runs_100,...,economy_rate,eco less than 5,eco 5-5.99,eco 6-7,eco 7-10,eco 11-12,eco greater than 12,Bowler,Batsmen,total_points
0,AA Noffke,9.0,12.0,11.0,0.0,1.0,0.0,0.0,0.0,0.0,...,8.750000,0.0,0.0,0.0,1.0,0.0,0.0,0,0,33.0
1,B Akhil,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1,0,-2.0
2,B Akhil,3.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.666667,0.0,1.0,0.0,0.0,0.0,0.0,1,0,57.0
3,B Akhil,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.500000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0.0
4,B Akhil,27.0,7.0,7.0,3.0,2.0,0.0,0.0,0.0,0.0,...,13.000000,0.0,0.0,0.0,0.0,0.0,1.0,1,0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17146,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.500000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,-2.0
17147,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.750000,1.0,0.0,0.0,0.0,0.0,0.0,1,0,31.0
17148,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.750000,0.0,0.0,1.0,0.0,0.0,0.0,1,0,2.0
17149,CJ Green,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.470588,0.0,0.0,0.0,1.0,0.0,0.0,1,0,-2.0
17150,Monu Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.000000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,-2.0

In [53]:
#X=ipl_merged_scorecard[ipl_merged_scorecard.columns[1:-1]]

In [36]:
#y=ipl_merged_scorecard[ipl_merged_scorecard.columns[-1]]

In [37]:
#X_train, X_test, y_train, y_test=train_test_split(X,y , test_size = 0.2 , random_state = 10)

In [38]:
#y_train.shape

In [39]:
#points_model=linear_model.LinearRegression().fit(X_train,y_train)

In [40]:
#points_model.score(X_train,y_train)

In [41]:
#points_model.score(X_test,y_test)

In [42]:
#inputdf=pd.read_csv(r'C:\Users\Yogesh Arora\inputdf1.csv')

In [43]:
#player_list = player_avg['playername'].tolist()

In [82]:
ipl_merged_scorecard

,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,total_runs_100,...,economy_rate,eco less than 5,eco 5-5.99,eco 6-7,eco 7-10,eco 11-12,eco greater than 12,Bowler,Batsmen,total_points
0,AA Noffke,9.0,12.0,11.0,0.0,1.0,0.0,0.0,0.0,0.0,...,8.750000,0.0,0.0,0.0,1.0,0.0,0.0,0,0,33.0
1,B Akhil,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1,0,-2.0
2,B Akhil,3.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.666667,0.0,1.0,0.0,0.0,0.0,0.0,1,0,57.0
3,B Akhil,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.500000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0.0
4,B Akhil,27.0,7.0,7.0,3.0,2.0,0.0,0.0,0.0,0.0,...,13.000000,0.0,0.0,0.0,0.0,0.0,1.0,1,0,29.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17146,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.500000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,-2.0
17147,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.750000,1.0,0.0,0.0,0.0,0.0,0.0,1,0,31.0
17148,JR Hazlewood,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.750000,0.0,0.0,1.0,0.0,0.0,0.0,1,0,2.0
17149,CJ Green,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.470588,0.0,0.0,0.0,1.0,0.0,0.0,1,0,-2.0
17150,Monu Kumar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.000000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,-2.0

### Removing player having value less than 1

In [87]:
df = ipl_merged_scorecard.groupby('playername').filter(lambda x : len(x)>5)
df

,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,total_runs_100,...,economy_rate,eco less than 5,eco 5-5.99,eco 6-7,eco 7-10,eco 11-12,eco greater than 12,Bowler,Batsmen,total_points
1,B Akhil,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,1,0,-2.0
2,B Akhil,3.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.666667,0.0,1.0,0.0,0.0,0.0,0.0,1,0,57.0
3,B Akhil,2.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.500000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0.0
4,B Akhil,27.0,7.0,7.0,3.0,2.0,0.0,0.0,0.0,0.0,...,13.000000,0.0,0.0,0.0,0.0,0.0,1.0,1,0,29.0
5,B Akhil,5.0,4.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,...,5.666667,0.0,1.0,0.0,0.0,0.0,0.0,1,0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17120,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.500000,0.0,0.0,1.0,0.0,0.0,0.0,1,0,43.0
17121,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.000000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,89.0
17122,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.000000,0.0,0.0,0.0,0.0,0.0,1.0,1,0,19.0
17123,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.500000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,89.0
17124,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.250000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,48.0

### Applying Linear Regression

In [83]:
lr={}
for i in df['playername']:
    X=df[df['playername']==i][1:-1]
    y=df[df['playername']==i]['total_points']
    X_train, X_test, y_train, y_test=train_test_split(X,y, random_state = 9999)
    lr=linear_model.LinearRegression().fit(X_train,y_train)
    lr[i]=lr

ValueError: Found input variables with inconsistent numbers of samples: [13, 15]

In [84]:
for i in df['playername']:
    player = df[df['playername']==i]
    player_new = player.dropna()

In [85]:
player_new

,playername,total_runs,total_balls_faced,total_legal_balls_faced,run_6,run_4,is_wicket,total_runs_30,total_runs_50,total_runs_100,...,economy_rate,eco less than 5,eco 5-5.99,eco 6-7,eco 7-10,eco 11-12,eco greater than 12,Bowler,Batsmen,total_points
17114,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.000000,0.0,0.0,1.0,0.0,0.0,0.0,1,0,27.0
17115,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11.666667,0.0,0.0,0.0,0.0,1.0,0.0,1,0,21.0
17116,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.750000,0.0,1.0,0.0,0.0,0.0,0.0,1,0,29.0
17117,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.000000,1.0,0.0,0.0,0.0,0.0,0.0,1,0,56.0
17118,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.250000,1.0,0.0,0.0,0.0,0.0,0.0,1,0,122.0
17119,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.000000,1.0,1.0,0.0,0.0,0.0,0.0,1,0,35.0
17120,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.500000,0.0,0.0,1.0,0.0,0.0,0.0,1,0,43.0
17121,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.000000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,89.0
17122,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.000000,0.0,0.0,0.0,0.0,0.0,1.0,1,0,19.0
17123,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.500000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,89.0
17124,L Ngidi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.250000,0.0,0.0,0.0,1.0,0.0,0.0,1,0,48.0

In [86]:
# Using ridge regression to predict the next match's performance based on the same player's performance in past

models = pd.DataFrame()

for i in df['playername']:
    player = df[df['playername']==i]
    player_new = player.dropna()

    X = player_new[player_new.columns[1:11]]
    y = player_new[player_new.columns[31:32]]

    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,random_state=5)

    ridge = pd.DataFrame()

    for j in range(0,101):
        points = linear_model.Ridge(alpha = j).fit(X_train,y_train)
        ridge_df = pd.DataFrame({'Alpha':pd.Series(j),'Train':pd.Series(points.score(X_train,y_train)),'Test':pd.Series(points.score(X_test,y_test))})
        ridge = ridge.append(ridge_df)

    ridge['Average'] = ridge[['Train', 'Test']].mean(axis=1)


    try:
        k = ridge[ridge[ 'Average' ]==ridge[ 'Average' ].max()][ 'Alpha' ][0]
        k = k.head(1)[0]

    except:

        k=ridge[ridge[ 'Average' ]==ridge['Average'].max()][ 'Alpha' ][0]

    next_runs = linear_model.Ridge(alpha = k)
    next_runs.fit(X_train,y_train)

    X = player_new[player_new.columns[1:11]]
    y = player_new[player_new.columns[32:33]]

    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,random_state=5)

    ridge = pd.DataFrame()

    for j in range(0,101):
        points = linear_model.Ridge(alpha = j).fit(X_train,y_train)
        ridge_df = pd.DataFrame({'Alpha':pd.Series(j),'Train':pd.Series(points.score(X_train,y_train)),'Test':pd.Series(points.score(X_test,y_test))})
        ridge = ridge.append(ridge_df)

    ridge['Average'] = ridge[['Train', 'Test']].mean(axis=1)

    try:
        k = ridge[ridge[ 'Average' ]==ridge[ 'Average' ].max()][ 'Alpha'][0]
        k = k.head(1)[0]

    except:
        k = ridge[ridge[ 'Average' ]==ridge['Average'].max()][ 'Alpha' ][0]

    next_balls = linear_model.Ridge(alpha = k)
    next_balls.fit(X_train, y_train)

    X = player_new[player_new.columns[12:27]]
    y = player_new[player_new.columns[34:35]]

    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,random_state=5)

    ridge = pd.DateFrame()

    for j in range(0,101):
        points = linear_model.Ridge(alpha = j).fit(X_train,y_train)
        ridge_df = pd.DataFrame({'Alpha':pd.Series(j), 'Train' :pd.Series(points.score(X_train,y_train)),'Test':pd.Series(points.score(X_test,y_test))})
        ridge = ridge.append(ridge_af)

    ridge['Average'] = ridge[['Train','Test']].mean(axis=1)

    try:
        k = ridge[ridge[ 'Average' ]==ridge[ 'Average' ].max()][ 'Alpha' ][0]
        k = k.head(1)[0]
                                                            
    except:
        k = ridge[ridge[ 'Average' ]==ridge['Average'].max()][ 'Alpha' ][0]

    nex_wkts = linear_model.Ridge(alpha = k)
    nex_wkts.fit(X_train, y_train)
  
    X = player_new[player_new.columns[14:27]]
    y = player_new[player_new.columns[33:34]]

    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,random_state=5)

    ridge = pd.DataFrame()

    for j in range(0,101):
        points = linear_model.Ridge(alpha = j).fit(X_train,y_train)
        ridge_df = pd.DataFrame({'Alpha':pd.Series(j),'Train' :pd.Series(points.score(X_train,y_train)),'Test':pd.Series(points.score(X_test,y_test))})
        ridge = ridge.append(ridge_df)

    ridge['Average'] = ridge[['Train', 'Test']].mean(axis=1)

    try:
        k = ridge[ridge[ 'Average' ]==ridge['Average'].max()]['Alpha'][0]
        k = k.head(1)[0]
    except:
        k = ridge[ridge[ 'Average' ]==ridge[ 'Average' ].max()]['Alpha'][0]

    next_overs = linear_model.Ridge(alpha = k)
    next_overs.fit(X_train, y_train)

    X = player_new[player_new.columns[14:27]]
    y = player_new[player_new.columns[33:34]]

    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.10,random_state=5)

    ridge = pd.DataFrame()

    for j in range(0,101):
        points = linear_model.Ridge(alpha = j).fit(X_train,y_train)
        ridge_df = pd.DataFrame({'Alpha':pd.Series(j),'Train':pd.Series(points.score(X_train,y_train)), 'Test':pd.Series(points.score(X_test,y_test))})
        ridge = ridge.append(ridge_af)

    ridge['Average'] = ridge[['Train', 'Test']].mean(axis=1)

    try:
        k = ridge[ridge[ 'Average' ]==ridge['Average'].max()]['Alpha'][0]
        k = k.head(1)[0]

    except:
        k = ridge[ridge[ 'Average' ]==ridge['Average'].max()][ 'Alpha' ][0]

    next_runs_given = linear_model.Ridge(alpha = k)
    next_runs_given.fit(X_train, y_train)

    latest = player.groupby('playername').tail(1)
    latest['next_runs'] = next_runs.predict(latest[latest.columns[1:13]])
    latest['next_balls'] = next_balls.predict(latest[latest.columns[1:13]])
    latest['next_overs'] = next_overs.predict(latest[latest.columns[14:27]])
    latest['next_runs_given'] = next_runs_given.predict(latest[latest.columns[14:27]])
    latest['nex_wkts'] = nex_wkts.predict(latest[latest.columns[14:27]])
    models = models.append(latest)

models['next_runs_given'] = round(models[ 'next_runs_given'],0)

models['next_overs'] = round(models['next_overs'],0)

models['next_runs'] = round(models['next_runs'],0)

models['next_balls'] = round(models['next_balls'],0)

models['nex_wkts'] = round(models[ 'nex_wkts'],0)

models

ValueError: at least one array or dtype is required

In [ ]:
lr={}
for i in df['playername']:
X=df[df['playername']==i][1:-1]
y=df[df['playername']==i]['points']
lr=lr.fit(X_train,y_train)
lr[i]=lr